version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: kv_postgres
    environment:
      POSTGRES_USER: kvuser
      POSTGRES_PASSWORD: kvpass
      POSTGRES_DB: kvdb
    ports:
      - "5432:5432"